{% extends 'base.html' %}

{% block content %}
  <h2>Line Graph</h2>
  <canvas id="lineGraph" width="700" height="100"></canvas>

  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

  <script>
    $(document).ready(function(){
      var ctx = document.getElementById('lineGraph').getContext('2d');
      var labels = [];
      var data = [];

      // Populate labels and data arrays
      {% for editor_data in editors_data %}
        labels.push('{{ editor_data.editor_name }}');
        data.push({{ editor_data.num_users }});
      {% endfor %}

      var myChart = new Chart(ctx, {
        type: 'line',
        data: {
          labels: labels,
          datasets: [{
            label: 'Number of Users',
            data: data,
            fill: false,
            borderColor: 'rgba(255, 99, 132, 1)',
            borderWidth: 1
          }]
        },
        options: {
          responsive: true,
          maintainAspectRatio: true,
          scales: {
            y: {
              beginAtZero: true
            }
          }
        }
      });
    });
  </script>
{% endblock %}